* {
    margin: 0px;
    padding: 10px;

}

table {
    color: white;
}

.titulo-moda {
    background-color: #BB86FC;
  
}

.titulo-casa {
    background-color: #00C4B4;

}

.tabela {
    background-color: #424250;

}